<!doctype html>
<html>
<head>
    <title> Home page</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <body>
        <h1>A&A Quant Stock Recommendations</h1>
        <form action = "#" method = "POST">
            <p style="font-family: Times New Roman"> Input Ticker Code: <input type = "text" name = "ticker"/></p>
            <p style="font-family: Times New Roman"> Input Start Date: <input type = "date" name = "start"  /></p>
            <p style="font-family: Times New Roman"> Input End Date: <input type = "date" name = "end"><input type = "submit" value = "Submit" /></p>

        </form>
    </body>
</html>